<a href="https://colab.research.google.com/github/Po743/229352-StatisticalLearning/blob/main/Lab02_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Statistical Learning for Data Science 2 (229352)
#### Instructor: Donlapark Ponnoprat

#### [Course website](https://donlapark.pages.dev/229352/)

## Lab #2

In [193]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score, roc_curve

# For Fashion-MNIST
from tensorflow.keras.datasets import fashion_mnist

# For 20 Newsgroups
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import TfidfVectorizer

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

## Part 1: Marketing Campaign Dataset - Manual Data Preprocessing & Logistic Regression

### Load the Marketing Campaign Dataset ([Data Information](https://archive.ics.uci.edu/dataset/222/bank+marketing))

The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be (`'yes'`) or not (`'no'`) subscribed.

In [194]:
bank_url = 'https://raw.githubusercontent.com/donlap/ds352-labs/main/bank.csv'

df = pd.read_csv(bank_url, sep=';', na_values=['unknown'])
df = df.drop(["emp.var.rate", "cons.price.idx", "cons.conf.idx",	"euribor3m", "nr.employed"], axis=1)
print("Shape of the dataset:", df.shape)
df.head()

Shape of the dataset: (41188, 16)

   age        job  marital    education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome   y
0   56  housemaid  married     basic.4y      no      no   no  telephone   may         mon       261         1    999         0  nonexistent  no
1   57   services  married  high.school     NaN      no   no  telephone   may         mon       149         1    999         0  nonexistent  no
2   37   services  married  high.school      no     yes   no  telephone   may         mon       226         1    999         0  nonexistent  no
3   40     admin.  married     basic.6y      no      no   no  telephone   may         mon       151         1    999         0  nonexistent  no
4   56   services  married  high.school      no      no  yes  telephone   may         mon       307         1    999         0  nonexistent  no

### Data Exploration

In [195]:
print("--- Missing Values Count ---")
print(df.isnull().sum())

--- Missing Values Count ---
age               0
job             330
marital          80
education      1731
default        8597
housing         990
loan            990
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
y                 0
dtype: int64

In [196]:
print("--- Unique Values for Categorical Columns ---")
for col in df.select_dtypes(include='object').columns:
    print(f"\n'{col}' unique values:")
    print(df[col].value_counts(dropna=False)) # Include NaN counts

--- Unique Values for Categorical Columns ---

'job' unique values:
job
admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
NaN                330
Name: count, dtype: int64

'marital' unique values:
marital
married     24928
single      11568
divorced     4612
NaN            80
Name: count, dtype: int64

'education' unique values:
education
university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
NaN                     1731
illiterate                18
Name: count, dtype: int64

'default' unique values:
default
no     32588
NaN     8597
yes        3
Name: count, dtype: int64

'housing' unique values:
housing
yes    21576
no     18622
NaN      990
Name: count, dtype: int64

'loan' unique values:
loan
no     33950
yes     6248
NaN      990
Name: count, dtype: int64

'contact' unique values:
contact
cellular     26144
telephone    15044
Name: count, dtype: int64

'month' unique values:
month
may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: count, dtype: int64

'day_of_week' unique values:
day_of_week
thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: count, dtype: int64

'poutcome' unique values:
poutcome
nonexistent    35563
failure         4252
success         1373
Name: count, dtype: int64

'y' unique values:
y
no     36548
yes     4640
Name: count, dtype: int64

### Data Preprocessing

In [197]:
# Map target variable 'y' to 0 (no) and 1 (yes)
df['y_new'] = df['y'].map({'yes':1,'no':0}) # Write your code here


# Drop 'duration' due to data leakage


# Define features (X) and target (y)
y = df['y_new']
x = df.drop(['y','y_new'], axis=1)
# Split the data BEFORE any transformations


# Print data shape

In [198]:
print(x)
print(y)

       age          job  marital            education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome
0       56    housemaid  married             basic.4y      no      no   no  telephone   may         mon       261         1    999         0  nonexistent
1       57     services  married          high.school     NaN      no   no  telephone   may         mon       149         1    999         0  nonexistent
2       37     services  married          high.school      no     yes   no  telephone   may         mon       226         1    999         0  nonexistent
3       40       admin.  married             basic.6y      no      no   no  telephone   may         mon       151         1    999         0  nonexistent
4       56     services  married          high.school      no      no  yes  telephone   may         mon       307         1    999         0  nonexistent
...    ...          ...      ...                  ...     ...     ...  ...        ...   ...         ...       ...       ...    ...       ...          ...
41183   73      retired  married  professional.course      no     yes   no   cellular   nov         fri       334         1    999         0  nonexistent
41184   46  blue-collar  married  professional.course      no      no   no   cellular   nov         fri       383         1    999         0  nonexistent
41185   56      retired  married    university.degree      no     yes   no   cellular   nov         fri       189         2    999         0  nonexistent
41186   44   technician  married  professional.course      no      no   no   cellular   nov         fri       442         1    999         0  nonexistent
41187   74      retired  married  professional.course      no     yes   no   cellular   nov         fri       239         3    999         1      failure

[41188 rows x 15 columns]
0        0
1        0
2        0
3        0
4        0
        ..
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y_new, Length: 41188, dtype: int64

In [199]:
x_train, x_test , y_train , y_test = train_test_split(x, y, test_size=0.3)

In [200]:
x_train_w = x_train.copy()
x_test_w = x_test.copy()

In [201]:

x_test

       age            job   marital            education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome
8818    30    blue-collar    single                  NaN      no      no   no  telephone   jun         thu        65         2    999         0  nonexistent
22863   33  self-employed   married    university.degree      no     yes   no   cellular   aug         mon       112         3    999         0  nonexistent
24930   30     unemployed   married          high.school      no     yes  yes   cellular   nov         tue       924         1    999         0  nonexistent
25294   29     unemployed   married  professional.course      no     yes   no   cellular   nov         tue       170         2    999         0  nonexistent
34770   43    blue-collar   married             basic.4y      no     yes   no   cellular   may         thu       305         3    999         0  nonexistent
...    ...            ...       ...                  ...     ...     ...  ...        ...   ...         ...       ...       ...    ...       ...          ...
28485   55         admin.   married          high.school      no      no   no   cellular   apr         tue       163         2    999         0  nonexistent
33141   38         admin.    single          high.school      no     yes   no   cellular   may         tue       100         4    999         0  nonexistent
25436   29     management    single    university.degree      no      no   no   cellular   nov         wed       209         1    999         1      failure
17620   55        retired  divorced          high.school      no      no   no   cellular   jul         mon       609         6    999         0  nonexistent
21626   40         admin.   married    university.degree      no     yes  yes   cellular   aug         tue       197         1    999         0  nonexistent

[12357 rows x 15 columns]

We will apply `StandardScaler()`, `OrdinalEncoder()`, and `OneHotEncoder()` on a few selected columns.

**1. Numerical Feature: `age` and `campaign` (Standard Scaling)**

In [202]:
num_cols_demo = ['age', 'campaign'] # à¸•à¸±à¸§à¸—à¸µà¹ˆà¸ˆà¸°à¹à¸›à¸¥à¸‡

scaler = StandardScaler()
# Fit the scaler ONLY on the training data
x_train[num_cols_demo] = scaler.fit_transform(x_train[num_cols_demo])
x_test[num_cols_demo] = scaler.transform(x_test[num_cols_demo]) # à¹„à¸¡à¹ˆà¸•à¹‰à¸­à¸‡ Fit à¹€à¸”à¸µà¹‹à¸¢à¸§à¸¡à¸±à¸™à¸ˆà¸°à¹€à¸­à¸²à¹„à¸›à¸„à¸³à¸™à¸§à¸™à¸«à¸²à¸„à¹ˆà¸²à¸•à¹ˆà¸²à¸‡à¹†

In [203]:
x_train.describe()

                age      duration      campaign         pdays      previous
count  2.883100e+04  28831.000000  2.883100e+04  28831.000000  28831.000000
mean   2.109620e-16    256.603448  6.949917e-17    962.800354      0.173841
std    1.000017e+00    255.248380  1.000017e+00    186.114400      0.496562
min   -2.206146e+00      0.000000 -5.643235e-01      0.000000      0.000000
25%   -7.673964e-01    102.000000 -5.643235e-01    999.000000      0.000000
50%   -1.918965e-01    179.000000 -2.086015e-01    999.000000      0.000000
75%    6.713533e-01    317.000000  1.471204e-01    999.000000      0.000000
max    5.563103e+00   3785.000000  1.900038e+01    999.000000      7.000000

Let's take a look at the transformed `age` and `campaign` features and their statistics.

**2. Ordinal Feature: `education` (Ordinal Encoding with Imputation)**

- **Imputation**

In [204]:
ord_col_demo = ['education']

imputer_ord = SimpleImputer(strategy='most_frequent')

## Write your code here
x_train[ord_col_demo] = imputer_ord.fit_transform(x_train[ord_col_demo])
x_test[ord_col_demo] = imputer_ord.transform(x_test[ord_col_demo])

x_train['education']

29487      university.degree
31073            high.school
10110            high.school
33619      university.degree
19038            high.school
                ...
23134      university.degree
1409                basic.4y
23972      university.degree
40462    professional.course
22183               basic.9y
Name: education, Length: 28831, dtype: object

- **Ordinal Encoding**

In [205]:
education_categories = [
    'illiterate', 'basic.4y', 'basic.6y', 'basic.9y', 'high.school',
    'professional.course', 'university.degree', 'masters', 'doctorate'
] # à¹€à¸£à¸µà¸¢à¸‡à¸™à¹‰à¸­à¸¢à¹„à¸›à¸¡à¸²à¸ (à¸¥à¸³à¸”à¸±à¸šà¸‚à¸±à¹‰à¸™)

In [206]:
ordinal_encoder = OrdinalEncoder(categories=[education_categories])

## Write your code here

x_train[ord_col_demo] = ordinal_encoder.fit_transform(x_train[ord_col_demo])
x_test[ord_col_demo] = ordinal_encoder.transform(x_test[ord_col_demo])

x_train

            age            job   marital  education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome
29487  0.575437   entrepreneur   married        6.0      no     yes   no   cellular   apr         mon       466  0.147120    999         0  nonexistent
31073 -0.000063       services    single        4.0      no      no   no   cellular   may         wed       197 -0.564323    999         0  nonexistent
10110  1.822353       services  divorced        4.0      no      no   no  telephone   jun         thu       133 -0.564323    999         0  nonexistent
33619 -0.287813         admin.  divorced        6.0     NaN     yes   no   cellular   may         wed        31  1.570008    999         1      failure
19038  0.767270     management   married        4.0     NaN      no   no   cellular   aug         tue       135 -0.564323    999         0  nonexistent
...         ...            ...       ...        ...     ...     ...  ...        ...   ...         ...       ...       ...    ...       ...          ...
23134 -0.191897     technician   married        6.0      no      no   no   cellular   aug         tue       264 -0.564323    999         0  nonexistent
1409  -0.287813    blue-collar   married        1.0      no      no   no  telephone   may         thu       219 -0.208602    999         0  nonexistent
23972 -0.671480     unemployed   married        6.0      no     yes   no   cellular   aug         fri        53 -0.208602    999         0  nonexistent
40462  2.397853        retired   married        5.0      no     yes   no   cellular   aug         tue       170 -0.208602    999         0  nonexistent
22183  1.534603  self-employed   married        3.0      no     NaN  NaN   cellular   aug         thu       141 -0.564323    999         0  nonexistent

[28831 rows x 15 columns]

Let's take a look at the imputed and ordinal-encoded `education`.

- **Imputation**

In [207]:
nom_col_demo = ['job']

imputer_nom = SimpleImputer(strategy='most_frequent')
imputer_nom.fit(x_train[nom_col_demo])

x_train_imputed_nom_demo = imputer_nom.transform(x_train[nom_col_demo])
x_test_imputed_nom_demo = imputer_nom.transform(x_test[nom_col_demo])

- **Nominal Encoding**

In [208]:
onehot_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

## Write your code here
x_train_onehot = onehot_encoder.fit_transform(x_train[['job']])
x_test_onehot = onehot_encoder.transform(x_test[['job']])

x_train_onehot

array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [209]:
x_train = pd.concat([x_train.reset_index(drop=True),
                     pd.DataFrame(x_train_onehot, columns=onehot_encoder.get_feature_names_out(['job']))], axis=1)
x_train

            age            job   marital  education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome  job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  job_management  job_retired  job_self-employed  job_services  job_student  job_technician  job_unemployed  job_nan
0      0.575437   entrepreneur   married        6.0      no     yes   no   cellular   apr         mon       466  0.147120    999         0  nonexistent         0.0              0.0               1.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
1     -0.000063       services    single        4.0      no      no   no   cellular   may         wed       197 -0.564323    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                0.0           1.0          0.0             0.0             0.0      0.0
2      1.822353       services  divorced        4.0      no      no   no  telephone   jun         thu       133 -0.564323    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                0.0           1.0          0.0             0.0             0.0      0.0
3     -0.287813         admin.  divorced        6.0     NaN     yes   no   cellular   may         wed        31  1.570008    999         1      failure         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
4      0.767270     management   married        4.0     NaN      no   no   cellular   aug         tue       135 -0.564323    999         0  nonexistent         0.0              0.0               0.0            0.0             1.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
...         ...            ...       ...        ...     ...     ...  ...        ...   ...         ...       ...       ...    ...       ...          ...         ...              ...               ...            ...             ...          ...                ...           ...          ...             ...             ...      ...
28826 -0.191897     technician   married        6.0      no      no   no   cellular   aug         tue       264 -0.564323    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0      0.0
28827 -0.287813    blue-collar   married        1.0      no      no   no  telephone   may         thu       219 -0.208602    999         0  nonexistent         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
28828 -0.671480     unemployed   married        6.0      no     yes   no   cellular   aug         fri        53 -0.208602    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             1.0      0.0
28829  2.397853        retired   married        5.0      no     yes   no   cellular   aug         tue       170 -0.208602    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          1.0                0.0           0.0          0.0             0.0             0.0      0.0
28830  1.534603  self-employed   married        3.0      no     NaN  NaN   cellular   aug         thu       141 -0.564323    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                1.0           0.0          0.0             0.0             0.0      0.0

[28831 rows x 27 columns]

In [210]:
x_test = pd.concat([x_test.reset_index(drop=True),
                     pd.DataFrame(x_test_onehot, columns=onehot_encoder.get_feature_names_out(['job']))], axis=1)
x_test

            age            job   marital  education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome  job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  job_management  job_retired  job_self-employed  job_services  job_student  job_technician  job_unemployed  job_nan
0     -0.959230    blue-collar    single        6.0      no      no   no  telephone   jun         thu        65 -0.208602    999         0  nonexistent         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
1     -0.671480  self-employed   married        6.0      no     yes   no   cellular   aug         mon       112  0.147120    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                1.0           0.0          0.0             0.0             0.0      0.0
2     -0.959230     unemployed   married        4.0      no     yes  yes   cellular   nov         tue       924 -0.564323    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             1.0      0.0
3     -1.055146     unemployed   married        5.0      no     yes   no   cellular   nov         tue       170 -0.208602    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             1.0      0.0
4      0.287687    blue-collar   married        1.0      no     yes   no   cellular   may         thu       305  0.147120    999         0  nonexistent         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
...         ...            ...       ...        ...     ...     ...  ...        ...   ...         ...       ...       ...    ...       ...          ...         ...              ...               ...            ...             ...          ...                ...           ...          ...             ...             ...      ...
12352  1.438687         admin.   married        4.0      no      no   no   cellular   apr         tue       163 -0.208602    999         0  nonexistent         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
12353 -0.191897         admin.    single        4.0      no     yes   no   cellular   may         tue       100  0.502842    999         0  nonexistent         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
12354 -1.055146     management    single        6.0      no      no   no   cellular   nov         wed       209 -0.564323    999         1      failure         0.0              0.0               0.0            0.0             1.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
12355  1.438687        retired  divorced        4.0      no      no   no   cellular   jul         mon       609  1.214286    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          1.0                0.0           0.0          0.0             0.0             0.0      0.0
12356 -0.000063         admin.   married        6.0      no     yes  yes   cellular   aug         tue       197 -0.564323    999         0  nonexistent         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0

[12357 rows x 27 columns]

In [211]:
x_train.drop(['job'], axis=1, inplace=True)
x_test.drop(['job'], axis=1, inplace=True)
# one time used

### **Exercise 1: Apply All Preprocessing & Train Logistic Regression**

Now, it's your turn to apply these preprocessing steps to *all* relevant columns and then train a Logistic Regression model.

**Instructions:**

1.  Look at the Variable Table in [this link](https://archive.ics.uci.edu/dataset/222/bank+marketing).
2. Make lists for `numerical_features`, `ordinal_features`, and `nominal_features`.
3. Preprocess the features. It is safer to make a copy of `X_train` using:
   ```
   X_train_copy = X_train.copy()
   X_test_copy = X_test.copy()
   ```
   and preprocess `X_train_copy` instead.

   **For nominal features, concat the one-hot encoded features using [`pd.concat(..., axis=1)`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) and drop the old nominal features from the dataframe.**
4. Train Logistic Regression on the preprocessed `X_train_copy` and `y_train`.
5. Evaluate the Model:
    *   Make predictions on the preprocessed `X_test_copy`.
    *   Print `classification_report` ([Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)). What are the accuracy, average precision, average recall, and average f1-score?

In [212]:
numerical_features = ['age','campaign','duration', 'pdays', 'previous']
ordinal_features = ['education']
nominal_features = ['job','marital', 'default', 'housing', 'loan', 'contact',  'poutcome','day_of_week','month' ] # 'day_of_week','month',

In [213]:
# --- YOUR CODE FOR EXERCISE 1 STARTS HERE ---

x_train_copy = x_train_w.copy() # _w
x_test_copy = x_test_w.copy()

x_test_copy
# 'marital', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'day_of_week'
# 'duration', 'pdays', 'previous'

       age            job   marital            education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome
8818    30    blue-collar    single                  NaN      no      no   no  telephone   jun         thu        65         2    999         0  nonexistent
22863   33  self-employed   married    university.degree      no     yes   no   cellular   aug         mon       112         3    999         0  nonexistent
24930   30     unemployed   married          high.school      no     yes  yes   cellular   nov         tue       924         1    999         0  nonexistent
25294   29     unemployed   married  professional.course      no     yes   no   cellular   nov         tue       170         2    999         0  nonexistent
34770   43    blue-collar   married             basic.4y      no     yes   no   cellular   may         thu       305         3    999         0  nonexistent
...    ...            ...       ...                  ...     ...     ...  ...        ...   ...         ...       ...       ...    ...       ...          ...
28485   55         admin.   married          high.school      no      no   no   cellular   apr         tue       163         2    999         0  nonexistent
33141   38         admin.    single          high.school      no     yes   no   cellular   may         tue       100         4    999         0  nonexistent
25436   29     management    single    university.degree      no      no   no   cellular   nov         wed       209         1    999         1      failure
17620   55        retired  divorced          high.school      no      no   no   cellular   jul         mon       609         6    999         0  nonexistent
21626   40         admin.   married    university.degree      no     yes  yes   cellular   aug         tue       197         1    999         0  nonexistent

[12357 rows x 15 columns]

**-Numberical**

In [214]:

scaler = StandardScaler()
# Fit the scaler ONLY on the training data
x_train_copy[numerical_features] = scaler.fit_transform(x_train[numerical_features])
x_test_copy[numerical_features] = scaler.transform(x_test[numerical_features]) # à¹„à¸¡à¹ˆà¸•à¹‰à¸­à¸‡ Fit à¹€à¸”à¸µà¹‹à¸¢à¸§à¸¡à¸±à¸™à¸ˆà¸°à¹€à¸­à¸²à¹„à¸›à¸„à¸³à¸™à¸§à¸™à¸«à¸²à¸„à¹ˆà¸²à¸•à¹ˆà¸²à¸‡à¹†

In [215]:
x_train_copy.describe()

                age      duration      campaign         pdays      previous
count  2.883100e+04  2.883100e+04  2.883100e+04  2.883100e+04  2.883100e+04
mean  -4.682568e-18  1.478706e-18 -5.471211e-17  2.378252e-16 -1.133674e-17
std    1.000017e+00  1.000017e+00  1.000017e+00  1.000017e+00  1.000017e+00
min   -2.206146e+00 -1.005326e+00 -5.643235e-01 -5.173254e+00 -3.500949e-01
25%   -7.673964e-01 -6.057086e-01 -5.643235e-01  1.945055e-01 -3.500949e-01
50%   -1.918965e-01 -3.040364e-01 -2.086015e-01  1.945055e-01 -3.500949e-01
75%    6.713533e-01  2.366229e-01  1.471204e-01  1.945055e-01 -3.500949e-01
max    5.563103e+00  1.382362e+01  1.900038e+01  1.945055e-01  1.374709e+01

**-Ordinal**

In [216]:
# imputation à¹€à¸•à¸´à¸¡à¸‚à¹‰à¸­à¸¡à¸¹à¸¥

imputer_ord = SimpleImputer(strategy='most_frequent')

## Write your code here
x_train_copy[ordinal_features] = imputer_ord.fit_transform(x_train_copy[ordinal_features])
x_test_copy[ordinal_features] = imputer_ord.transform(x_test_copy[ordinal_features])

In [217]:
education_categories = [
    'illiterate', 'basic.4y', 'basic.6y', 'basic.9y', 'high.school',
    'professional.course', 'university.degree', 'masters', 'doctorate'
] # à¹€à¸£à¸µà¸¢à¸‡à¸™à¹‰à¸­à¸¢à¹„à¸›à¸¡à¸²à¸ (à¸¥à¸³à¸”à¸±à¸šà¸‚à¸±à¹‰à¸™)

ordinal_encoder = OrdinalEncoder(categories=[education_categories])

## Write your code here

x_train_copy[ordinal_features] = ordinal_encoder.fit_transform(x_train_copy[ordinal_features])
x_test_copy[ordinal_features]  = ordinal_encoder.transform(x_test_copy[ordinal_features] )

**-Nominal**

In [218]:
x_train_copy[nominal_features]

                 job   marital default housing loan    contact     poutcome day_of_week month
29487   entrepreneur   married      no     yes   no   cellular  nonexistent         mon   apr
31073       services    single      no      no   no   cellular  nonexistent         wed   may
10110       services  divorced      no      no   no  telephone  nonexistent         thu   jun
33619         admin.  divorced     NaN     yes   no   cellular      failure         wed   may
19038     management   married     NaN      no   no   cellular  nonexistent         tue   aug
...              ...       ...     ...     ...  ...        ...          ...         ...   ...
23134     technician   married      no      no   no   cellular  nonexistent         tue   aug
1409     blue-collar   married      no      no   no  telephone  nonexistent         thu   may
23972     unemployed   married      no     yes   no   cellular  nonexistent         fri   aug
40462        retired   married      no     yes   no   cellular  nonexistent         tue   aug
22183  self-employed   married      no     NaN  NaN   cellular  nonexistent         thu   aug

[28831 rows x 9 columns]

In [219]:
# imputation
imputer_nom = SimpleImputer(strategy='most_frequent')
imputer_nom.fit(x_train_copy[nominal_features])

x_train_copy_imputed_nom_demo = imputer_nom.transform(x_train_copy[nominal_features])
x_test_copy_imputed_nom_demo = imputer_nom.transform(x_test_copy[nominal_features])

# one-hot
onehot_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

## Write your code here
x_train_copy_onehot = onehot_encoder.fit_transform(x_train_copy[nominal_features])
x_test_copy_onehot = onehot_encoder.transform(x_test_copy[nominal_features])

x_train_copy_onehot

# concat train
x_train_copy = pd.concat([x_train_copy.reset_index(drop=True),
                     pd.DataFrame(x_train_copy_onehot, columns=onehot_encoder.get_feature_names_out(nominal_features))], axis=1) # à¸£à¸°à¸§à¸±à¸‡à¸§à¸‡à¹€à¸¥à¹‡à¸šà¸•à¸­à¸™à¹à¸¢à¸à¸„à¸­à¸¥à¸±à¸¡à¸¡à¹Œ


# concat train
x_test_copy = pd.concat([x_test_copy.reset_index(drop=True),
                     pd.DataFrame(x_test_copy_onehot, columns=onehot_encoder.get_feature_names_out(nominal_features))], axis=1) # à¸£à¸°à¸§à¸±à¸‡à¸§à¸‡à¹€à¸¥à¹‡à¸šà¸•à¸­à¸™à¹à¸¢à¸à¸„à¸­à¸¥à¸±à¸¡à¸¡à¹Œ

In [220]:
# drop old col
x_train_copy.drop(nominal_features, axis=1, inplace=True)
x_test_copy.drop(nominal_features, axis=1, inplace=True)

x_train_copy

            age  education  duration  campaign     pdays  previous  job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  job_management  job_retired  job_self-employed  job_services  job_student  job_technician  job_unemployed  job_nan  marital_divorced  marital_married  marital_single  marital_nan  default_no  default_yes  default_nan  housing_no  housing_yes  housing_nan  loan_no  loan_yes  loan_nan  contact_cellular  contact_telephone  poutcome_failure  poutcome_nonexistent  poutcome_success  day_of_week_fri  day_of_week_mon  day_of_week_thu  day_of_week_tue  day_of_week_wed  month_apr  month_aug  month_dec  month_jul  month_jun  month_mar  month_may  month_nov  month_oct  month_sep
0      0.575437        6.0  0.820378  0.147120  0.194505 -0.350095         0.0              0.0               1.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0               0.0              1.0             0.0          0.0         1.0          0.0          0.0         0.0          1.0          0.0      1.0       0.0       0.0               1.0                0.0               0.0                   1.0               0.0              0.0              1.0              0.0              0.0              0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0
1     -0.000063        4.0 -0.233516 -0.564323  0.194505 -0.350095         0.0              0.0               0.0            0.0             0.0          0.0                0.0           1.0          0.0             0.0             0.0      0.0               0.0              0.0             1.0          0.0         1.0          0.0          0.0         1.0          0.0          0.0      1.0       0.0       0.0               1.0                0.0               0.0                   1.0               0.0              0.0              0.0              0.0              0.0              1.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0
2      1.822353        4.0 -0.484256 -0.564323  0.194505 -0.350095         0.0              0.0               0.0            0.0             0.0          0.0                0.0           1.0          0.0             0.0             0.0      0.0               1.0              0.0             0.0          0.0         1.0          0.0          0.0         1.0          0.0          0.0      1.0       0.0       0.0               0.0                1.0               0.0                   1.0               0.0              0.0              0.0              1.0              0.0              0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0
3     -0.287813        6.0 -0.883874  1.570008  0.194505  1.663789         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0               1.0              0.0             0.0          0.0         0.0          0.0          1.0         0.0          1.0          0.0      1.0       0.0       0.0               1.0                0.0               1.0                   0.0               0.0              0.0              0.0              0.0              0.0              1.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0
4      0.767270        4.0 -0.476420 -0.564323  0.194505 -0.350095         0.0              0.0               0.0            0.0             1.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0               0.0              1.0             0.0          0.0         0.0          0.0          1.0         1.0          0.0          0.0      1.0       0.0       0.0               1.0                0.0               0.0                   1.0               0.0              0.0              0.0              0.0              1.0              0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0
...         ...        ...       ...       ...       ...       ...         ...              ...               ...            ...             ...          ...                ...           ...          ...             ...             ...      ...               ...              ...             ...          ...         ...          ...          ...         ...          ...          ...      ...       ...       ...               ...                ...               ...                   ...               ...              ...              ...              ...              ...              ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...
28826 -0.191897        6.0  0.028978 -0.564323  0.194505 -0.350095         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0      0.0               0.0              1.0             0.0          0.0         1.0          0.0          0.0         1.0          0.0          0.0      1.0       0.0       0.0               1.0                0.0               0.0                   1.0               0.0              0.0              0.0              0.0              1.0              0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0
28827 -0.287813        1.0 -0.147324 -0.208602  0.194505 -0.350095         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0               0.0              1.0             0.0          0.0         1.0          0.0          0.0         1.0          0.0          0.0      1.0       0.0       0.0               0.0                1.0               0.0                   1.0               0.0              0.0              0.0              1.0              0.0              0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0
28828 -0.671480        6.0 -0.797682 -0.208602  0.194505 -0.350095         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             1.0      0.0               0.0              1.0             0.0          0.0         1.0          0.0          0.0         0.0          1.0          0.0      1.0       0.0       0.0               1.0                0.0               0.0                   1.0               0.0              1.0              0.0              0.0              0.0              0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0
28829  2.397853        5.0 -0.339297 -0.208602  0.194505 -0.350095         0.0              0.0               0.0            0.0             0.0          1.0                0.0           0.0          0.0             0.0             0.0      0.0               0.0              1.0             0.0          0.0         1.0          0.0          0.0         0.0          1.0          0.0      1.0       0.0       0.0               1.0                0.0               0.0                   1.0               0.0              0.0              0.0              0.0              1.0              0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0
28830  1.534603        3.0 -0.452914 -0.564323  0.194505 -0.350095         0.0              0.0               0.0            0.0             0.0          0.0                1.0           0.0          0.0             0.0             0.0      0.0               0.0              1.0             0.0          0.0         1.0          0.0          0.0         0.0          0.0          1.0      0.0       0.0       1.0               1.0                0.0               0.0                   1.0               0.0              0.0              0.0              1.0              0.0              0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0

[28831 rows x 51 columns]

In [221]:
from sklearn.linear_model import LogisticRegression
# all_features = numerical_features + ordinal_features + nominal_features
model = LogisticRegression(max_iter=1000)
model.fit(x_train_copy ,y_train)

LogisticRegression(max_iter=1000)

In [222]:
y_pred = model.predict(x_test_copy)
model.score(x_test_copy, y_test)

0.9077445982034474

In [223]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.98      0.95     10948
           1       0.67      0.38      0.49      1409

    accuracy                           0.91     12357
   macro avg       0.80      0.68      0.72     12357
weighted avg       0.90      0.91      0.90     12357

--------------------------------------------------------------------------------

In [224]:
(fm_X_train, fm_y_train), (fm_X_test, fm_y_test) = fashion_mnist.load_data()

print(f"Fashion-MNIST Train data shape: {fm_X_train.shape}")
print(f"Fashion-MNIST Train labels shape: {fm_y_train.shape}")
print(f"Fashion-MNIST Test data shape: {fm_X_test.shape}")
print(f"Fashion-MNIST Test labels shape: {fm_y_test.shape}")

Fashion-MNIST Train data shape: (60000, 28, 28)
Fashion-MNIST Train labels shape: (60000,)
Fashion-MNIST Test data shape: (10000, 28, 28)
Fashion-MNIST Test labels shape: (10000,)

In [225]:
print(f"First image {fm_X_train[0]}")
print(f"First label {fm_y_train[0]}")

First image [[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   1   0   0  13  73   0
    0   1   4   0   0   0   0   1   1   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   3   0  36 136 127  62
   54   0   0   0   1   3   4   0   0   3]
 [  0   0   0   0   0   0   0   0   0   0   0   0   6   0 102 204 176 134
  144 123  23   0   0   0   0  12  10   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0 155 236 207 178
  107 156 161 109  64  23  77 130  72  15]
 [  0   0   0   0   0   0   0   0   0   0   0   1   0  69 207 223 218 216
  216 163 127 121 122 146 141  88 172  66]
 [  0   0   0   0   0   0   0   0   0   1   1   1   0 200 232 232 233 229
  223 223 215 213 164 127 123 196 229   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0 183 225 216 223 228
  235 227 224 222 224 221 223 245 173   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0 193 228 218 213 198
  180 212 210 211 213 223 220 243 202   0]
 [  0   0   0   0   0   0   0   0   0   1   3   0  12 219 220 212 218 192
  169 227 208 218 224 212 226 197 209  52]
 [  0   0   0   0   0   0   0   0   0   0   6   0  99 244 222 220 218 203
  198 221 215 213 222 220 245 119 167  56]
 [  0   0   0   0   0   0   0   0   0   4   0   0  55 236 228 230 228 240
  232 213 218 223 234 217 217 209  92   0]
 [  0   0   1   4   6   7   2   0   0   0   0   0 237 226 217 223 222 219
  222 221 216 223 229 215 218 255  77   0]
 [  0   3   0   0   0   0   0   0   0  62 145 204 228 207 213 221 218 208
  211 218 224 223 219 215 224 244 159   0]
 [  0   0   0   0  18  44  82 107 189 228 220 222 217 226 200 205 211 230
  224 234 176 188 250 248 233 238 215   0]
 [  0  57 187 208 224 221 224 208 204 214 208 209 200 159 245 193 206 223
  255 255 221 234 221 211 220 232 246   0]
 [  3 202 228 224 221 211 211 214 205 205 205 220 240  80 150 255 229 221
  188 154 191 210 204 209 222 228 225   0]
 [ 98 233 198 210 222 229 229 234 249 220 194 215 217 241  65  73 106 117
  168 219 221 215 217 223 223 224 229  29]
 [ 75 204 212 204 193 205 211 225 216 185 197 206 198 213 240 195 227 245
  239 223 218 212 209 222 220 221 230  67]
 [ 48 203 183 194 213 197 185 190 194 192 202 214 219 221 220 236 225 216
  199 206 186 181 177 172 181 205 206 115]
 [  0 122 219 193 179 171 183 196 204 210 213 207 211 210 200 196 194 191
  195 191 198 192 176 156 167 177 210  92]
 [  0   0  74 189 212 191 175 172 175 181 185 188 189 188 193 198 204 209
  210 210 211 188 188 194 192 216 170   0]
 [  2   0   0   0  66 200 222 237 239 242 246 243 244 221 220 193 191 179
  182 182 181 176 166 168  99  58   0   0]
 [  0   0   0   0   0   0   0  40  61  44  72  41  35   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]]
First label 9

### Visualize Fashion-MNIST Images

Let's see what these images look like.

In [226]:
fashion_mnist_class_names = [
    'T-shirt/top', 'Trouser', 'Pullover', 'Dress', 'Coat',
    'Sandal', 'Shirt', 'Sneaker', 'Bag', 'Ankle boot'
]

# Visualize the images
## Write your code here

### **Exercise 2: Preprocessing Images (Flatten and Scale)**

Images are 2D arrays (matrices of pixels) and pixel values are integers from 0-255. For Logistic Regression, we need:
*  **Flattening:** Convert each 28x28 image into a 1D array of 784 features.
*  **Scaling:** Normalize pixel values from [0, 255] to [0, 1].

**Instructions:**

1.   **Flatten:** Use the `.reshape()` method (see [documentation](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.reshape.html)). For `fm_X_train_binary` (shape `(num_samples, 28, 28)`), you want to reshape it to `(num_samples, 28*28)`.
2.  **Scale:** Divide the flattened pixel values by 255.0 to get values between 0 and 1.
3.   **Train Logistic Regression:**
    *   Initialize `LogisticRegression(solver='saga')`. `saga` is a good solver when both number of samples and number of features are large.
    *   Fit the model on your *processed* `fm_X_train_scaled` and `fm_y_train`.
4.   **Make Predictions:** Use `predict()` to make predictions on the *processed* `fm_X_test_scaled`.
5.   **Print Classification Report:** Print `classification_report` ([Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)). What are the accuracy, average precision, average recall, and average f1-score?
6.   **Visualize Misclassifications:**
    *   Find the indices in `fm_X_test_binary` where your model made incorrect predictions (i.e., `fm_y_pred != fm_y_test`).
    *   Select 5 of these misclassified images.
    *   Plot these images (using `plt.imshow`). For each image, print its true label and its predicted label.

In [227]:
# --- YOUR CODE FOR EXERCISE 2 STARTS HERE ---

## Part 3: 20 Newsgroups Dataset - Text Classification

### Load 20 Newsgroups Dataset

The 20 newsgroups dataset comprises around 18000 newsgroups posts on 20 topics.

In [228]:
news_train = fetch_20newsgroups(subset='train', shuffle=True, random_state=42)
news_test = fetch_20newsgroups(subset='test', shuffle=True, random_state=42)

X_train_news, y_train_news = news_train.data, news_train.target
X_test_news, y_test_news = news_test.data, news_test.target

print(f"Number of training documents: {len(X_train_news)}")
print(f"Number of test documents: {len(X_test_news)}")
print(f"Categories: {news_train.target_names}")

Number of training documents: 11314
Number of test documents: 7532
Categories: ['alt.atheism', 'comp.graphics', 'comp.os.ms-windows.misc', 'comp.sys.ibm.pc.hardware', 'comp.sys.mac.hardware', 'comp.windows.x', 'misc.forsale', 'rec.autos', 'rec.motorcycles', 'rec.sport.baseball', 'rec.sport.hockey', 'sci.crypt', 'sci.electronics', 'sci.med', 'sci.space', 'soc.religion.christian', 'talk.politics.guns', 'talk.politics.mideast', 'talk.politics.misc', 'talk.religion.misc']

### Explore Sample Document

In [229]:
# Print the first document and its class
## Write your code here

### Preprocessing: Text Vectorization Demonstration with `TfidfVectorizer`

$$
\text{TF-IDF}(t, d, D) = \text{TF}(t, d) \times \text{IDF}(t, D)
$$

Where:

$$
\text{TF}(t, d) = \frac{\text{number of word }t\text{ in } d}{\text{number of words in } d} \quad \text{ and } \quad
\text{IDF}(t, D) = \log\left(\frac{\text{total number of documents}}{\text{number of documents that contain word }t}\right).
$$

In [230]:
sample_sentences = [
    "This is the first document.",
    "This document is the second document.",
    "And this is the third one.",
    "Is this the first document?"
]

vectorizer = TfidfVectorizer(stop_words='english')

# Fit and transform the sample sentences
sample_vec_output_sparse = # Write your code here

sample_vec_output_dense = sample_vec_output_sparse.toarray()

print(vectorizer.vocabulary_)
print(vectorizer.get_feature_names_out())
print(sample_vec_output_dense)

SyntaxError: invalid syntax (ipython-input-2984329282.py, line 11)

### **Exercise 3: Apply TF-IDF Vectorization to Full Dataset**

Now, apply `TfidfVectorizer` to the actual training and testing datasets for the 20 Newsgroups classification task.

**Instructions:**

1.  **Initialize `TfidfVectorizer`:**
    *   Initialize `TfidfVectorizer`. Use `stop_words='english'` to remove common words.
2.  **Fit and Transform Training Data:**
    *   Call `fit_transform()` on `X_train_news` to learn the vocabulary and transform the training text into TF-IDF features. Store the result in `X_train_vec`.
3.  **Transform Test Data:**
    *   Call `transform()` on `X_test_news` using the *already fitted* vectorizer. Store the result in `X_test_vec`. **Crucially, do not call `fit_transform()` on the test data!** This would cause data leakage.
4.  **Initialize Logistic Regression:**
    *   Initialize `LogisticRegression(solver='saga')`. `saga` is a good solver when both number of samples and number of features are large.
5.  **Train the Model:**
    *   Fit the model on your `X_train_vec` and `y_train_news`.
6.  **Make Predictions:**
    *   Make predictions using `predict()` on the `X_test_vec`.
7.  **Evaluate the Model:**
    *   Print `classification_report` ([Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)). What are the accuracy, average precision, average recall, and average f1-score?

In [ ]:
# --- YOUR CODE FOR EXERCISE 3 STARTS HERE ---